/* DoAna logo in the title slide */

.doana-title img {
  margin-top: 50px;
}


/* ggplot2 hex-logo in the title slide */
.hex {
  position: relative;
  top: 50px;
}


/* inline images */
.hex img, .inlineimg img {
  margin: initial;
  display: initial;
}



/* Add a footer */
.my-footer {
  background-color: #003f5d;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  text-align: center;
}

.my-footer span {
  font-size: 80%;
  color: #c9dd72;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.my-footer img {
  height: inherit;
  left: 20px;
  position: absolute;
}


/* Some pictures not too big in saisie donnees */
.tidy img {
  width: 70%;
}

.tidy50 img {
  width: 50%;
}

.height400 img {
  height: 400px;
}

.height450 img {
  height: 450px;
}

.aligner img {
  position: absolute;
  right: 300px;
  display: inline;
}


/* 3 columns layout*/
.colonnes3 {
  column-count: 3;
  margin-top: 30px;
}

.colonnes3 h3,  .colonnes3 p{
  margin-top: 0;
}

/* link images */
.a-img:before, .a-img:after {
  content: none;
}


